PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=change_this_secret
ADMIN_NAME=Jose Daniel Estrella
ADMIN_EMAIL=josedanielestrella@outlook.com
ADMIN_PASSWORD=1234
DATABASE_URL=sqlite:./data/huevos-del-norte.db
CLOUD_SQL_INSTANCE_ID=huevos-del-norte-ebc1d-instance
DATABASE_NAME=huevos-del-norte-ebc1d-database
SERVICE_ID=huevos-del-norte-ebc1d-service
